%h1 New Continent
= form_for(@continent) do |f|
  = render :partial => 'layouts/form', :locals => { :f => f }
  .actions
    = f.submit "Create"
    = link_to 'Cancel', :back, :class => "fake_button"
