!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title CSTB
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag(:defaults)
  %body
    #login_box
      = image_tag 'cstb.gif'
      %h3 Reservation Manager
      %br/
      = yield
